<!DOCTYPE html>
<html lang="en">

<head>
    <noscript>
        <div style="position: fixed; top: 0px; left: 0px; z-index: 3000; 
                    height: 100%; width: 100%; background-color: #FFFFFF">
            <p style="margin-left: 10px">JavaScript is not enabled! The application relies on JavaScript for some
                features. <br />
                Please enable JavaScript or upgrade your browser! :)</p>
        </div>
    </noscript>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Alfarhan Zahedi, Jatin Pandey">
    {% block meta %} {% endblock %}
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'core/img/favicon.jpg' %}">
    <!-- Bootstrap v4.0.0 -->
    <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome v5.3.1 -->
    <link rel="stylesheet" type="text/css" media="screen" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {% load static %}
    <!-- Base stylesheets -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'core/css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'core/css/base.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'core/css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'core/css/breadcrumb.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'core/css/scroll-bar.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'core/css/footer.css' %}">

    <!-- Webpage specific stylesheet(s)-->
    {% block css %} {% endblock %}
    <!-- End of webpage specific stylesheet(s) -->

    <!-- Webpage specific JS -->
    {% block pre-js %} {% endblock %}
    <!-- End of webpage specific JS-->
</head>

<body class="font-pt-sans">
    <!-- Navbar -->
    {% include 'core/navbar.html' %}
    <!--End of navbar -->
    <!-- Main content/body -->
    {% block body %} {% endblock %}
    <!-- End of main content/body -->

    <!-- Footer -->
    {% include 'core/footer.html' %}
    <!--End of footer -->

    <!-- jQuery v3.3.1 -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <!-- Webpage specific JS -->
    {% block post-js %} {% endblock %}
    <!-- End of webpage specific JS -->
</body>

</html>