<footer>
    <div class="social-navigation text-center">
        <a href="https://www.facebook.com/CodeChef/" class="social-facebook" aria-label="facebook" target="_blank" rel="noreferrer">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="https://twitter.com/codechef" class="social-twitter" aria-label="twitter" target="_blank" rel="noreferrer">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="https://www.youtube.com/user/codechefofficial" class="social-youtube" aria-label="youtube" target="_blank" rel="noreferrer">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        <a href="https://www.instagram.com/codechef" class="social-instagram" aria-label="instagram" target="_blank" rel="noreferrer">
            <span class="fa-stack fa-2x">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </div>
    <p class="text-center">Copyright © 2018 Chef's Arena</p>
</footer>