<nav class="navbar navbar-light">
    <a class="navbar-brand" href="/">
        {% load static %}
        <img class="img-responsive" src="{% static 'core/img/icon.jpg' %}" alt="chefsarena-logo">
    </a>
    {% if user.is_authenticated %}
    <ul class="navbar-nav">
        <li class="nav-item">
            {% if invitations_exist %}
            <small class="text-success">&#9679;</small>
            {% endif %}
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a href="/oauth/logout" class="btn btn-outline-danger btn-sm">Logout</a>
        </li>
    </ul>
    {% endif %}
</nav>
<hr style="margin-top: 0; margin-bottom: 0; width: 100%;">